<div class="span5">
  <!--
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
    <strong>更新完了!</strong>更新しました.
  </div>
  -->
  <% content_for (:title) { "Edit " + @gitfile.filename } %>
  <%= @gitfile.path %><br>
  <% path_wo_suffix = escape_path(@gitfile.path).split('.')[0..-2].join %>
  <% suffix = escape_path(@gitfile.path).split('.')[-1] %>
  <%= form_tag(url_for(:controller => "pages",:action => "update"), :id => path_wo_suffix, :format => suffix) do  %>
    <%= hidden_field_tag 'format', suffix %>
    <%= text_area_tag 'gitfile[data]', @gitfile.data, :class => "field span11 be_previewed", :style => "height:500px;" %><br>
    <%= text_field_tag 'gitfile[commitlog]', @default_commitlog%>
    <%= button_to "Update", {:action => "update", :id => path_wo_suffix, :format => suffix}, :method => :put, :class => "btn btn-primary" %>
  <% end %>
</div>

<div class="span5">
  <%= render :partial => "preview_window", :controller => "pages" %>
</div>
