<div class="span5">
  Create a new page:

  <% content_for (:title) { "Create " + @gitfile.filename } %>
  <% @default_commitlog = "create a new page" %>
  <%= form_tag(url_for(:controller => "pages",:action => "create")) do  %>
    <%= text_field_tag 'gitfile[path]',"path" %>
    <%= text_area_tag 'gitfile[data]', "", :class => "field span11 be_previewed", :style => "height:500px;" %><br>
    <%= text_field_tag 'gitfile[commitlog]', @default_commitlog%>
    <%= button_to "Create",{:controller => "pages", :action => "create"}, {:class => "btn btn-primary"} %>
  <% end %>
</div>

<div class="span5">
  <%= render :partial => "preview_window", :controller => "pages" %>
</div>
