<div class="span6">
  <!--
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
    <strong>更新完了!</strong>更新しました.
  </div>
  -->
  <%= @gitfile.path %><br>
  <%= form_tag('/viewer/' + @gitfile.path, :method => :put) do  %>
    <%= text_area_tag 'gitfile[data]', @gitfile.data%>
    <%= button_to "Update", {:action => "update", :id => @gitfile.path}, :method => :put, :class => "btn btn-primary" %>
  <% end %>
</div>

<div class="span4">
<%= render :inline => (mkd2html(@gitfile.data)) %> 
</div>
