<div class="span5">
  <!--
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
    <strong>更新完了!</strong>更新しました.
  </div>
  -->
  <%= @gitfile.path %><br>
  <%= form_tag('/viewer/' + escape_path(@gitfile.path), :method => :put) do  %>
    <%= text_area_tag 'gitfile[data]', @gitfile.data, :class => "field span11", :style => "height:500px;" %><br>
    <%= text_field_tag 'gitfile[commitlog]', @default_commitlog%>
    <%= button_to "Update", {:action => "update", :id => escape_path(@gitfile.path).split('.')[0..-2].join}, :method => :put, :class => "btn btn-primary" %>
  <% end %>
</div>

<div class="span5">
<%= render :inline => (mkd2html(@gitfile.data)) %> 
</div>
